.armor-class-wrapper{
    height: 100px;
    width: 100px;
    background-image: url(../assets/Armor.svg);
    background-size: cover;
    display: flex;
    align-items: center;
}
.armor-class-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.armor-class-name{
    font-size: .6rem;
    font-weight: bold;
}

.armor-class-value{
    font-size: 1.9rem;
    font-weight: 550;
}