.attacks-container{
  width: 320px;
  height:100%;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px;
  background-color: #fffbf5;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.list-container {
  height: 100%;
  overflow-y: auto;
  margin:0;
}

.attacks-header{
  text-align: center;
  font-size: .6rem;
  font-weight: bold;
  margin: auto;
}

.attack-container{
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 2fr;
  column-gap: 5px;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 0.8rem;
}

.attack-damage{
  text-align: right;
  padding: 0 5px;
}

.empty-attacks{
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #989898;
  margin: auto;
}