.content{
    margin-top: 44px;
    padding-top: 25px;
}

.content .divider {
    margin: 5px 30px;
}

.title {
    font-weight: 600;
}

.page-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.9rem;
    font-weight: 600;
    padding: 10px 30px;
}

.new-character-button {
    background-color: #f0f0f0;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 35%;
    text-decoration: none;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.new-character-button img {
    max-width: 75%;
    max-height: 75%;
    margin: auto;
}

.new-character-button:hover {
    background-color: #e0e0e0;
}

.new-character-button:active {
    background-color: #d0d0d0;
}