.summaryBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #000;
    margin: 10px;
    padding: 10px;
    height: 100px;
    width: 90px;
    text-align: center;
    position: relative;
}

.summaryMain{
    font-size: 12pt;
    bottom: -15px;
    width: 45px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #fffbf5;
    position: absolute;
}

.summaryModifier{
    font-size: 16pt;
    font-weight: 550;
}

.typeName{
    font-size: 16pt;
    font-weight: bold;
}