nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #511E1E;
  color: #F3F3F3;
  padding: 10px 20px;
}

.navElement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #511E1E;
  color: #F3F3F3;
  padding: 10px 20px;
}

a:link {
  color: #F3F3F3;
  text-decoration: none;
}
  
a:visited {
  color: #F3F3F3;
}
  
a:hover {
  color: #e5e5e5;
}
  
a:active {
  color: #F3F3F3;
}