nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #511E1E;
  color: #F3F3F3;
  padding: 10px 20px;
}

.navElement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #511E1E;
  color: #F3F3F3;
  font-weight: bold;
  padding: 10px 20px;
}

.navElement:hover {
  background-color: #431919;
}

header {
  display: flex;
  justify-content:left;
  background-color: #511E1E;
  color: #F3F3F3;
  padding: 0px auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

a:link {
  color: #F3F3F3;
  text-decoration: none;
}
  
a:visited {
  color: #F3F3F3;
}
  
.navElement:hover > a {
  color: #f5edbf;
}
  
a:active {
  color: #F3F3F3;
}